<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My Social Network</title>
</head>
<body>
<header>
	<div class="header_logo">
		<h1>Войти в систему</h1>
	</div>
</header>
<div>
    <h1>Введите данные от учётной записи</h1>
    <form method="POST">
        <p><label for="login">Введите логин</label></p>
        <p><input type="login" name="login" placeholder="username"></p>
        <p><label for="password">Введите пароль</label></p>
        <p><input type="password" name="password"></p>
        <p><button type="submit">Войти</button></p>
    </form>
</div>
</body>
</html>